{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel = "stylesheet" type = "text/css" href= "{% static 'css/story_8.css' %}"/>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/story_8.js' %}"></script>
</head>
<body style="background-color:aqua">
    <h1> KATALOG BUKU</h1>
    <h2 id= "jumlah_buku_favorit" style = "text-align: center">
        <i class='fa fa-star'style = 'color : yellow'> </i> 
    </h2>
    <table class = "table-responsive table table-hover table table-stripped" id="tabel_list_buku"></table>
</body>
</html>


