{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
    <button type="button" class="btn btn-info" onclick="window.location.href='/landing-page'"> SIGN OUT </button>
{% endblock content %}