{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href= "{% static 'css/story_8.css' %}"/>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/story_8.js' %}"></script>
</head>
<!-- <div id="load">
    <img src="{% static 'loading.gif' %}">
</div> -->
<body style="background-color:aqua">
  <!-- <div class="loader"></div> -->
  <h1 align="center">Hello, Apa kabar?</h1>
  <button id=buttonUbahTema style="margin:0 0 5px 0"> Ubah tema </button>
  <button id=buttonTemaAwal style="margin:0 5px 5px 0"> Tema Awal </button>
  <button type="button" class="btn btn-info" onclick="window.location.href='/landing-page/book_list'"> LAB_9,BOOK LIST </button>
  <button type="button" class="btn btn-info" onclick="window.location.href='/login'"> SIGN IN </button>

  <div>
    <button class="accordion" id="accordionSatu" style="margin:0 0 3px 0">Aktivitas</button>
    <div class="panel" id="panel1" style="margin:0 0 3px 0">
            <p>Saya sedang menonton theater <br>
                Saya sedang di kereta <br>
                Saya sedang menaiki busway <br>
                Saya sedang berlari</p>
    </div>
  </div>

  <button class="accordion" id="accordionDua" style="margin:0 0 3px 0">Kepanitiaan/Organisasi</button>
  <div class="panel" id="panel2" style="margin:0 0 3px 0">
        <p>Staff Penunjang CGT 25 <br>
            Staff DharmaWidya HFG 12 <br>
        </p>
  </div>

  <button class="accordion" id="accordionTiga" style="margin:0 0 3px 0">Organisasi</button>
  <div class="panel" id="panel3" style="margin:0 0 5px 0">
        <p>Staff Departemen Olahraga BEM FASILKOM UI 2018 <br>
            Staff Divisi Olahraga KMHD UI 2018
        </p>
  </div>
  <form id="form" method = "POST" action = "{% url 'LANDING_PAGE:add_activity' %}">
    {% csrf_token %}
    {{form}}
    <input id="submit" type="submit" class = "btn btn-lg btn block btn-info" style="background-color:khaki" value="Submit">

  </form>

  <div class="table-responsive" style="background-color:lightcoral">
      {% if diary %}
      <table class = "table table-hover">
          <thead>
              <th> Date </th>
              <th> Status </th>
          </thead>
          {% for data in diary %}
          <tr>
          <td> {{ data.date }} </td>
          <td> {{ data.activity }} </td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <h2> No Status </h2>
      {% endif %}
  </div>

  <p>My first paragraph.</p>

</body>
<!-- <style>
.temaBackground2{
    background-color:pink !important;
}
.temaTombol2{
    background-color:greenyellow !important;
}
.table-responsive2{
    background-color: powderblue !important;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:khaki;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
    background-color: paleturquoise;
}

.active2, .accordion:hover {
    background-color: red;
} */


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
</style> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript">
$(document).ready(function(){
    $("#buttonUbahTema").click(function(){
        $("body").addClass("temaBackground2");
        $(".btn").addClass("temaTombol2");
        $(".accordion").addClass("temaTombol2")
        $(".table-responsive").addClass("table-responsive2")
    });
    $("#buttonTemaAwal").click(function(){
        $("body").removeClass("temaBackground2");
        $(".btn").removeClass("temaTombol2");
        $(".accordion").removeClass("temaTombol2")
        $(".table-responsive").removeClass("table-responsive2")

    });
    $("#accordionSatu").click(function(){
        $("#panel1").slideToggle("slow");
    });
    $("#accordionDua").click(function(){
        $("#panel2").slideToggle("slow");
    });
    $("#accordionTiga").click(function(){
        $("#panel3").slideToggle("slow");
    });
});
</script> -->
<!-- <script type="text/javascript" src="story_8.js"></script> -->
</html>


