{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href= "{% static 'css/story_8.css' %}"/>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/story_8.js' %}"></script>
</head>
<body style="background-color:aqua">
    <h1 align="center">SUBSCRIBE ME PLEASE :)</h1>
    <form id="form" method = "POST">
        {% csrf_token %}
        <div class ="container">
            <div class="row m-5">
                <div class="col-md-4"></div>
                <div class="col-md-4" id="subscribepage">
                    <div class="form-group">
                        {{ forms }}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <input id="submit_subscribe" type="submit" class = "btn btn-lg btn block btn-info" style="background-color:khaki" value="Submit">
    </form>
</body>