.temaBackground2{
    background-color:pink !important;
}
.temaTombol2{
    background-color:greenyellow !important;
}
.table-responsive2{
    background-color: powderblue !important;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:khaki;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* #load{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 8px;
    left: 0px;
    z-index: 1;
    background: palevioletred no-repeat 50% 50% rgba(255, 255,255,0.9)
} */
/* .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #262626;
    animation: animate 2s linear infinite;
}

.loader:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #262626;
    animation: animateBg 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%,-50%) rotate(1800deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    75%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

@keyframes animateBg{
    0%{
        height: 0;
    }
    25%{
        height: 0;
    }
    50%{
        height: 100%;
    }
    75%{
        height: 100%;
    }
    100%{
        height: 0;
    }
} */