.temaBackground2{
    background-color:pink !important;
}
.temaTombol2{
    background-color:greenyellow !important;
}
.table-responsive2{
    background-color: powderblue !important;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:khaki;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}