.container{
    display : flex;
}
body{
    background-color: #A4FD9D;
    margin-top: 70px;
}
form{
    position: absolute;
    left:400px;
    top:400px;
}
.foto_gde img{
    table-layout: auto;
    position: absolute;
    max-width: 100%;
    /* width: 157px; */
    width:12%;
    /* height: 175px; */
    height:30%;
    /* left: 94px; */
    left:5%;
    /* top: 229px; */
    top:40%;
    border-radius: 100%;
    float: left;
}   
h4{
    table-layout: auto;
    position: absolute;
    /* width: 768px; */
    width:60%;
    /* height: 217px; */
    height: 35%;
    /* left: 306px; */
    left:25%;
    /* top: 223px; */
    top:40%;
    background: #FAFF12;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}
p{
    table-layout: auto;
    position: absolute;
    /* width: 229px; */
    width:20% ;
    /* height: 202px; */
    height:20%;
    /* left: 67px; */
    left:2%;
    /* top: 418px; */
    top:70%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}
/* --------------------------------------------------------------MENU ATAS-------------------------------------------------------------- */
.button_home{
    table-layout: auto;
    position: absolute;
    /* padding: 30px 30px; */
    padding: 2% 3%;
    /* left: 158px; */
    left:12%;
    /* top: 44px; */
    top:7%;
    background: #F1BC37;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: x-large;
}
.button_track_record{
    table-layout: auto;
    position: absolute;
    /* padding: 30px 30px; */
    padding: 2% 3%;
    /* left: 500px; */
    left:35%;
    /* top: 44px; */
    top:7%;
    background: #F1BC37;
    border: 1px solid #070707;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: x-large;
}
.button_personalities{
    table-layout: auto;
    position: absolute;
    /* padding: 35px 3px; */
    padding: 2% 3%;
    /* left: 899px; */
    left:65%;
    /* top: 44px; */
    top:7%;
    background: #F1BC37;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: x-large;
}
.heading_penanda{
    table-layout: auto;
    position: absolute;
    /* width: 250px; */
    width:20%;
    max-width:100%;
    /* height: 100px; */
    height: 15%;
    max-height:100%;
    /* left: 482px; */
    left: 35%;
    /* top: 266px; */
    top: 45%;
    text-align: center;

    background: #F1BC37;
    border: 1px solid #070707;
    box-sizing: border-box;
    border-radius: 10px;
}

/* --------------------------------------------------------------MENU TENGAH-------------------------------------------------------------- */
.strength{
    position: absolute;
    width: 238px;
    height: 92px;
    left: 172px;
    top: 527px;
    text-align: center;
    background: #F4980E;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.detail_strength{
    position: absolute;
    width: 492px;
    height: 376px;
    left: 58px;
    top: 636px;
    background: #FAFF12;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.opportunities{
    position: absolute;
    width: 238px;
    height: 92px;
    left: 830px;
    top: 527px;
    text-align: center;
    background: #F4980E;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.detail_opportunities{
    position: absolute;
    width: 492px;
    height: 376px;
    left: 684px;
    top: 636px;

    background: #FAFF12;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.weakness{
    position: absolute;
    width: 238px;
    height: 92px;
    left: 172px;
    top: 1140px;
    text-align: center;
    background: #F4980E;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.detail_weakness{
    position: absolute;
    width: 492px;
    height: 376px;
    left: 58px;
    top: 1242px;

    background: #FAFF12;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.threat{
    position: absolute;
    width: 238px;
    height: 92px;
    left: 830px;
    top: 1140px;
    text-align: center;
    background: #F4980E;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.detail_threat{
    position: absolute;
    width: 492px;
    height: 376px;
    left: 684px;
    top: 1242px;

    background: #FAFF12;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
/* --------------------------------------------------------------FOOTER CONTACT BAWAH-------------------------------------------------------------- */
.footer_1 div{
    /* top: 782px; */
    top: 150%;
}
.footer_2 div{
    /* top: 980px; */
    top: 190%;
}
.footer_3 div{
    /* top: 1750px; */
    top: 295%;
}
.footer_4 div{
    /* top: 1950px; */
    top: 328%;
}
.footer_5 div{
    top: 800px;
}
.footer_6 div{
    top: 1000px;
}

.message {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:800px; */
    top:125%;
    /* left:550px; */
    left: 30%;
}

.schedule {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:800px; */
    top:125%;
    /* left:550px; */
    left: 50%;
}

.message2 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:880px; */
    top: 165%;
    /* left:550px; */
    left: 30%;
}

.schedule2 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:800px; */
    top:165%;
    /* left:550px; */
    left: 50%;
}

.message3 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:1850px; */
    top:310%;
    /* left:550px; */
    left: 30%;
}

.schedule3 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:800px; */
    top:310%;
    /* left:550px; */
    left: 50%;
}

.message4 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:900px; */
    top:160%;
    /* left:550px; */
    left: 30%;
}

.schedule4 {
    padding: 15px 15px;
    border-radius: 10px;
    background-color:#F1BC37; 
    position: absolute;
    /* top:800px; */
    top:160%;
    /* left:550px; */
    left: 50%;
}
.heading_telpon{
    position: absolute;
    /* width: 193px; */
    width: 10%;
    /* height: 49px; */
    height: 5%;
    /* left: 137px; */
    left: 10%;
    /* top: 682px; */
    top: 110%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_telpon img {
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    /* top: 659px; */
    top: 110%;
    border-radius: 100%;
    float: left;
}
.heading_whatsapp{
    position: absolute;
    /* width: 145px; */
    width:10%; 
    /* height: 49px; */
    height: 5%;
    /* left: 454px; */
    left: 34%;
    /* top: 908px; */
    top: 148%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_whatsapp img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 866px; */
    top:150%;
    border-radius: 100%;
    float: left;
}
.heading_email{
    position: absolute;
    /* width: 207px; */
    width: 10%;
    /* height: 43px; */
    height: 5%;
    /* left: 148px; */
    left:10%;
    /* top: 908px; */
    top: 148%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_email img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left:2%;
    /* top: 882px; */
    top:150%;
    border-radius: 100%;
    float: left;
}
.heading_line{
    position: absolute;
    /* width: 132px; */
    width: 10%;
    /* height: 38px; */
    height: 5%;
    /* left: 461px; */
    left: 34%;
    /* top: 668px; */
    top: 110%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_line img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 636px; */
    top: 110%;
    border-radius: 100%;
    float: left;
}
.heading_twitter{
    position: absolute;
    /* width: 191px; */
    width:10%;
    /* height: 38px; */
    height:5%;
    /* left: 729px; */
    left:55%;
    /* top: 668px; */
    top:110%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_twitter img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left:47%;
    /* top: 635px; */
    top:110%;
    border-radius: 100%;
    float: left;
}
.heading_instagram{
    position: absolute;
    /* width: 132px; */
    width: 10%;
    /* height: 38px; */
    height: 5%;
    /* left: 732px; */
    left: 55%;
    /* top: 914px; */
    top:148%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_instagram img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left:47%;
    /* top: 882px; */
    top:150%;
    border-radius: 100%;
    float: left;
}
.heading_facebook{
    position: absolute;
    /* width: 191px; */
    width: 10%;
    /* height: 38px; */
    height: 5%;
    /* left: 1016px; */
    left: 77%;
    /* top: 668px; */
    top: 110%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_facebook img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 635px; */
    top:110%;
    border-radius: 100%;
    float: left;
}
.heading_G{
    position: absolute;
    /* width: 191px; */
    width: 10%;
    /* height: 38px; */
    height: 5%;
    /* left: 1016px; */
    left:77%;
    /* top: 913px; */
    top: 150%;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.gambar_G img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 882px; */
    top: 150%;
    border-radius: 100%;
    float: left;
}

.gambar_telpon2 img {
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    /* top: 759px; */
    top: 150%;
    border-radius: 100%;
    float: left;
}
.gambar_whatsapp2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 966px; */
    top: 190%;
    border-radius: 100%;
    float: left;
}
.gambar_email2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    /* top: 966px; */
    top: 190%;
    border-radius: 100%;
    float: left;
}
.gambar_line2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 759px; */
    top: 150%;
    border-radius: 100%;
    float: left;
}
.gambar_twitter2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    /* top: 759px; */
    top: 150%;
    border-radius: 100%;
    float: left;
}
.gambar_instagram2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    /* top: 966px; */
    top: 190%;
    border-radius: 100%;
    float: left;
}
.gambar_facebook2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 759px; */
    top: 150%;
    border-radius: 100%;
    float: left;
}
.gambar_G2 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 966px; */
    top: 190%;
    border-radius: 100%;
    float: left;
}

.gambar_telpon3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    /* top: 1750px; */
    top: 295%;
    border-radius: 100%;
    float: left;
}
.gambar_email3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    /* top: 1950px; */
    top: 328%;
    border-radius: 100%;
    float: left;
}
.gambar_line3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 1750px; */
    top: 295%;
    border-radius: 100%;
    float: left;
}
.gambar_whatsapp3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    /* top: 1950px; */
    top: 328%;
    border-radius: 100%;
    float: left;
}
.gambar_twitter3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    /* top: 1750px; */
    top: 295%;
    border-radius: 100%;
    float: left;
}
.gambar_instagram3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    /* top: 1950px; */
    top: 328%;
    border-radius: 100%;
    float: left;
}
.gambar_facebook3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 1750px; */
    top: 295%;
    border-radius: 100%;
    float: left;
}
.gambar_G3 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    /* top: 1950px; */
    top: 328%;
    border-radius: 100%;
    float: left;
}

.gambar_telpon4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    top: 800px;
    border-radius: 100%;
    float: left;
}
.gambar_email4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 31px; */
    left: 2%;
    top: 1000px;
    border-radius: 100%;
    float: left;
}
.gambar_line4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    top: 800px;
    border-radius: 100%;
    float: left;
}
.gambar_whatsapp4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 347px; */
    left: 27%;
    top: 1000px;
    border-radius: 100%;
    float: left;
}
.gambar_twitter4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    top: 800px;
    border-radius: 100%;
    float: left;
}
.gambar_instagram4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 615px; */
    left: 47%;
    top: 1000px;
    border-radius: 100%;
    float: left;
}
.gambar_facebook4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    top: 800px;
    border-radius: 100%;
    float: left;
}
.gambar_G4 img{
    position: absolute;
    /* width: 97px; */
    width: 7%;
    /* height: 95px; */
    height: 8%;
    /* left: 942px; */
    left: 70%;
    top: 1000px;
    border-radius: 100%;
    float: left;
}